<div class="container">
    <h1>Users List</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Create Time</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="u in users">
                <td>{{u.id}}</td>
                <td>{{u.username}}</td>
                <td>{{u.role}}</td>
                <td>{{u.createTime}}</td>
                <td>
                    <button class="btn btn-info" ng-click="viewUser(u.id)">View</button>
                    <button class="btn btn-danger" ng-click="deleteUser(u.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>