<div class="container">
    <h1>This is our home page</h1>

    <br/>

    {{message}}

    <br/>

    <span>Username: {{user.username}}</span>

    <br/>

    <button class="btn btn-info" ng-click="login()">Log in</button>

    <br/>

    <h1>angular-messages</h1>

    <br/>

    <form name="myForm">
        <label>
          Enter your name:
          <input type="text"
                 name="myName"
                 ng-model="name"
                 ng-minlength="5"
                 ng-maxlength="20"
                 required />
        </label>
       
        <pre>myForm.myName.$error = {{ myForm.myName.$error | json }}</pre>
      
        <div ng-messages="myForm.myName.$error" style="color:maroon" role="alert">
          <div ng-message="required">You did not enter a field</div>
          <div ng-message="minlength">Your field is too short</div>
          <div ng-message="maxlength">Your field is too long</div>
          <div ng-message-default>This field has an input error</div>
        </div>
    </form>

    <br/>

    <h1>angular-chart</h1>

    <br/>
    
    <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas

</div>

