html,
body {
    height: 100% !important;
}

.page-container{
    height: 100% !important;
}

.view-container {
    padding-top: 5%;
}

// Κενό για τα alert που εμφανίζονται όταν υπάρχει error στη φόρμα
.alert {
    margin-top: 5%;
}